# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Git
.git/
.gitignore

# IDE configs
.vscode/
.idea/

# App runtime folders
uploads/
outputs/
rough_file/

# Environment files
.env
